# Python / Machine Learning Datasets & Large Files
*.zip
*.tar.gz
dataset/
datasets/
ai-training/dataset/
ai-training/*.zip

# Environment & Dependencies
.env
web-app/.env
node_modules/
web-app/node_modules/
vendor/
web-app/vendor/
__pycache__/
*.pyc

# OS & IDE Files
.DS_Store
Thumbs.db
.idea/
.vscode/
~/

# Laravel Storage & Logs
web-app/public/storage
web-app/storage/app/public/uploads/*
web-app/storage/app/public/output/*
web-app/storage/logs/*
!web-app/storage/app/public/uploads/.gitkeep
!web-app/storage/app/public/output/.gitkeep
